# Backend
backend/target/
backend/*.log

# Java
*.class

# Frontend
frontend/node_modules/
frontend/dist/

# Environment variables and secrets
.env
*.env
application-local.yml

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db